mkdir -p $KYLIN_HOME/conf/hadoop_conf
rm -rf $KYLIN_HOME/conf/hadoop_conf/core-site.xml
rm -rf $KYLIN_HOME/conf/hadoop_conf/hbase-site.xml
rm -rf $KYLIN_HOME/conf/hadoop_conf/hdfs-site.xml
rm -rf $KYLIN_HOME/conf/hadoop_conf/yarn-site.xml
rm -rf $KYLIN_HOME/conf/hadoop_conf/hive-site.xml
ln -s /etc/hadoop/conf/core-site.xml $KYLIN_HOME/conf/hadoop_conf/core-site.xml  
ln -s /etc/hbase/conf/hbase-site.xml $KYLIN_HOME/conf/hadoop_conf/hbase-site.xml
ln -s /etc/hadoop/conf/hdfs-site.xml $KYLIN_HOME/conf/hadoop_conf/hdfs-site.xml
ln -s /etc/hadoop/conf/yarn-site.xml $KYLIN_HOME/conf/hadoop_conf/yarn-site.xml
ln -s  /etc/hive/conf/hive-site.xml $KYLIN_HOME/conf/hadoop_conf/hive-site.xml